<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                <v-card-text>
                  <form>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="email"
                      rules="required|email"
                    >
                      <v-text-field
                        v-model="email"
                        :error-messages="errors"
                        label="E-mail"
                        required
                      ></v-text-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      rules="required|min:8"
                      name="password"
                    >
                      <v-text-field
                        v-model="password"
                        :append-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showpass ? 'text' : 'password'"
                        label="Пароль"
                        :error-messages="errors"
                        @click:append="showpass = !showpass"
                      ></v-text-field>
                    </ValidationProvider>
                  </form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-4" @click="submit">submit</v-btn>
                  <v-btn @click="clear">clear</v-btn>
                </v-card-actions>
              </ValidationObserver>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { required, email, min } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";
import EventBus from "../Utils/event-bus";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty"
});
extend("email", {
  ...email,
  message: "Email must be valid"
});
extend("min", {
  ...min,
  message: "min8"
});

export default {
  name: "Auth",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    name: "",
    email: "",
    password: "",
    showpass: false
  }),

  methods: {
    submit() {
      EventBus.$emit("preloader", true);
      const user = {
        email: this.email,
        password: this.password
      };
      this.$store.dispatch("loginUser", user).then(() => {

      });
    },
    clear() {
      this.email = "";
      this.password = "";
      this.$refs.observer.reset();
    }
  }
};
</script>

<style scoped>


</style>
