<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title> Перевод </v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                <v-card-text>
                  <form>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="senform"
                      rules="required|creditCard"
                    >
                      <v-text-field
                        v-model="card"
                        :error-messages="errors"
                        label="credit card"
                        required
                      ></v-text-field
                    ></ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="senform"
                      rules="required|numeric|money"
                    >
                      <v-text-field
                        v-model="money"
                        :error-messages="errors"
                        label="сумма"
                        required
                      ></v-text-field>
                    </ValidationProvider>
                  </form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-4" @click="send()">submit</v-btn>
                  <v-btn @click="clear">clear</v-btn>
                </v-card-actions>
              </ValidationObserver>
            </v-card>
            <v-alert type="success" v-if="success">
              {{
                `Перевод ${money} рублей на карту ${card} был совершён успешно`
              }}
            </v-alert>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import store from "../../store";
import { required, numeric } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty"
});

extend("numeric", {
  ...numeric,
  message: "only numeric"
});

extend("creditCard", card => {
  let len = card.length;
  let parity = len % 2;
  let sum = 0;
  for (let i = len - 1; i >= 0; i--) {
    let d = parseInt(card.charAt(i));
    if (i % 2 == parity) {
      d *= 2;
    }
    if (d > 9) {
      d -= 9;
    }
    sum += d;
  }
  return sum % 10 === 0;
});
let user = {};
const user_id = localStorage.getItem("userId");
store.dispatch("fetchUserInfo").then(() => {
  user = store.getters.usersInfo[user_id];
});
console.log(user);

extend("money", money => {
  return (
    parseInt(localStorage.getItem("money")) >= money ||
    "На балансе не достаточно средств"
  );
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  props: ["st"],
  name: "Send",
  data() {
    return { card: "", money: "", userInfo: "", success: false };
  },

  methods: {
    send() {
      this.$refs.observer.validate().then(validated => {
        if (validated) {
          this.success = true;
          this.$store.dispatch(
            "updateMoney",
            parseInt(localStorage.getItem("money")) - this.money
          );
          setTimeout(() => {
            this.$router.go();
          }, 5000);
        }
      });
    },
    clear() {
      this.card = "";
      this.money = "";
    }
  }
};
</script>

<style scoped></style>
