<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>{{ getInfo[currentForm] }}</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                <v-card-text>
                  <form>
                    <div
                      v-for="(form, key) in formItems[getInfo[currentForm]]"
                      :key="key"
                    >
                      <ValidationProvider
                        v-if="form.type !== 'password'"
                        v-slot="{ errors }"
                        :name="form.name"
                        :rules="rules[form.type]"
                      >
                        <v-text-field
                          v-model="formData[form.name]"
                          :error-messages="errors"
                          :label="form.name"
                          required
                        ></v-text-field
                      ></ValidationProvider>
                      <ValidationProvider
                        name="password"
                        v-slot="{ errors }"
                        v-else
                        :rules="rules[form.type]"
                      >
                        <v-text-field
                          v-model="formData[form.name]"
                          :append-icon="showpass ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="showpass ? 'text' : 'password'"
                          label="Пароль"
                          :error-messages="errors"
                          @click:append="showpass = !showpass"
                        ></v-text-field>
                      </ValidationProvider>
                    </div>
                  </form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-4" @click="nextForm()">Далее</v-btn>
                </v-card-actions>
              </ValidationObserver>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import EventBus from "../../Utils/event-bus";
import { required, email, min, length, numeric } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode
} from "vee-validate";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty"
});
extend("email", {
  ...email,
  message: "Email must be valid"
});
extend("min", {
  ...min,
  message: "min{length}"
});
extend("length", {
  ...length,
  message: "only{length}"
});
extend("numeric", {
  ...numeric,
  message: "only numeric"
});

extend("creditCard", card => {
  let len = card.length;
  let parity = len % 2;
  let sum = 0;
  for (let i = len - 1; i >= 0; i--) {
    let d = parseInt(card.charAt(i));
    if (i % 2 == parity) {
      d *= 2;
    }
    if (d > 9) {
      d -= 9;
    }
    sum += d;
  }
  return sum % 10 === 0;
});
extend("phone", number => {
  const phoneUtil = require("google-libphonenumber").PhoneNumberUtil.getInstance();
  const phone = phoneUtil.parse(number, "RU");
  return phoneUtil.isValidNumber(phone);
});

extend("taxNumber", taxNumber => {
  return taxNumber.length === 10 || taxNumber.length === 12;
});

export default {
  components: {
    // Card,
    // Documents,
    // Name,
    ValidationProvider,
    ValidationObserver
  },
  props: ["st"],
  name: "Registartion",
  data() {
    return {
      currentForm: false,
      formData: {},
      formItems: {
        names: [
          { id: 0, name: "name", type: "text" },
          { id: 1, name: "surname", type: "text" },
          { id: 2, name: "lastname", type: "text" },
          { id: 3, name: "phone", type: "phone" },
          { id: 4, name: "email", type: "email" },
          { id: 5, name: "password", type: "password" }
        ],
        card: [{ id: 6, name: "card", type: "card" }],
        documents: [
          { id: 7, name: "taxNumber", type: "taxNumber" },
          { id: 8, name: "passport", type: "passport" }
        ]
      },
      rules: {
        phone: "required|phone",
        email: "required|email",
        password: "required|min:8",
        card: "required|creditCard|numeric",
        text: "required",
        taxNumber: "required|taxNumber|numeric",
        passport: "required|length:10|numeric"
      },
      getInfo: ["names", "card", "documents"],
      name: "",
      password: "",
      showpass: false
    };
  },

  mounted() {
    this.currentForm = 0;
    if (localStorage.getItem("form")) {
      this.formData = JSON.parse(localStorage.getItem("form"));
      const currentState = localStorage.getItem("regState");
      this.currentForm = this.getInfo.indexOf(currentState);
      this.$router.push(`/reg/${this.getInfo[this.currentForm]}`);
    }
  },
  watch: {
    currentForm() {
      this.$router.push("/reg/" + this.getInfo[this.currentForm]);
    },
    formData: {
      deep: true,
      handler() {
        localStorage.setItem("form", JSON.stringify(this.formData));
      }
    }
  },
  methods: {
    nextForm() {
      this.$refs.observer.validate().then(val => {
        if (val) {
          if (this.currentForm < this.getInfo.length - 1) {
            this.currentForm++;
            localStorage.setItem("regState", this.getInfo[this.currentForm]);
          } else {
            this.submit();
          }
        }
      });
    },
    submit() {
      this.formData.money = parseInt(Math.random() * Math.floor(12345));
      const user = {
        ...this.formData
      };
      EventBus.$emit("preloader", true);
      this.$store.dispatch("registerUser", user).then(() => {
        EventBus.$emit("preloader", false);
        const user = {
          email: this.formData.email,
          password: this.formData.password
        };
        this.$store.dispatch("loginUser", user).then(() => {
          localStorage.removeItem("form");
          localStorage.removeItem("userId");
          setTimeout(() => {
            this.$router.push("/main");
          }, 5000);
        });
      });
      EventBus.$emit("preloader", true);
    }
  }
};
</script>

<style scoped></style>
