<template>
  <div id="app">
    <v-app id="inspire" v-if="authInit">
      <v-card height="100vh">
        <v-navigation-drawer absolute permanent right>
          <template v-slot:prepend>
            <v-list-item two-line>
              <v-list-item-avatar>
                <img src="https://randomuser.me/api/portraits/women/81.jpg" />
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-if="userInfo.name || userInfo.surname">{{
                  `${userInfo.name} ${userInfo.surname}`
                }}</v-list-item-title>
                <v-list-item-subtitle two-line v-if="userInfo.phone">
                  {{ `${userInfo.phone}` }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </template>

          <v-divider></v-divider>

          <v-list dense>
            <v-list-item
              v-for="item in menuItems"
              :key="item.title"
              @click="item.action()"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-card class="mx-auto" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="overline mb-2">Баланс</div>
                  <v-list-item-title class=" title mb-2">{{
                    `${userInfo.money || 0}руб`
                  }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-list>
        </v-navigation-drawer>
        <router-view></router-view>
        <transition name="fade">
          <Preloader v-if="preloader || !authInit"></Preloader
        ></transition>
      </v-card>
    </v-app>
  </div>
</template>

<script>
import Preloader from "./components/UI/Preloader";
import EventBus from "./components/Utils/event-bus";
export default {
  name: "App",
  components: {
    Preloader
  },
  computed: {
    authInit() {
      return this.$store.getters.isAuthInit;
    },
    checkLoggedIn() {
      return this.isUserLoggedIn;
    }
  },
  watch: {
    isUserLoggedIn() {
      if (this.isUserLoggedIn) {
        this.main();
        this.getUserInfo();
      }
      this.generateMenu();
    }
  },
  data() {
    const self = this;
    return {
      isUserLoggedIn: false,
      items: [
        {
          title: "Home",
          icon: "mdi-home-city",
          action: self.main,
          check: true
        },
        {
          title: "Перевод",
          icon: "mdi-account",
          action: self.send,
          check: true
        },
        {
          title: "Logout",
          icon: "mdi-exit-to-app",
          action: self.logout,
          check: true
        },
        {
          title: "Login",
          icon: "mdi-login",
          action: self.login,
          check: false
        },
        {
          title: "Register",
          icon: "mdi-login",
          action: self.reg,
          check: false
        }
      ],
      menuItems: [],
      preloader: false,
      userInfo: {}
      //
    };
  },

  beforeMount() {
    EventBus.$on("userLoggedIn", data => {
      this.isUserLoggedIn = data;
      this.$store.dispatch("switchLoggedIn", data);
    });
    EventBus.$on("preloader", data => {
      this.preloader = data;
    });
  },
  mounted() {
    this.generateMenu();
  },
  methods: {
    getUserInfo() {
      const user_id = localStorage.getItem("userId");
      this.$store.dispatch("fetchUserInfo").then(() => {
        this.userInfo = this.$store.getters.usersInfo[user_id];
        localStorage.setItem("money", this.userInfo.money);
      });
    },
    generateMenu() {
      this.menuItems = this.items.filter(
        item => item.check === this.isUserLoggedIn
      );
    },
    login() {
      this.$router.push("/auth");
    },
    main() {
      this.$router.push("/main");
    },

    send() {
      this.$router.push("/send");
    },
    reg() {
      this.$router.push("/reg");
    },
    logout() {
      this.$store.dispatch("logoutUser").then(() => {
        localStorage.removeItem("userId");
        localStorage.removeItem("money");
        this.login();
      });
    }
  }
};
</script>

<style lang="sass" scoped>
#app

.fade-enter-active, .fade-leave-active
    transition: opacity 1.5s
.fade-enter, .fade-leave-to
    opacity: 0
</style>
