<template>
  <div class="preloader text-center">
    <v-progress-circular
      :size="100"
      color="blue"
      indeterminate
    ></v-progress-circular>
  </div>
</template>

<script>
export default {
  name: "Preloader"
};
</script>

<style lang="sass" scoped>
.preloader
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    position: absolute
    z-index: 10
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    background-color: #ededed
</style>
